.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  width: 350px;
  height: 100vh; /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #81C784;
  border: 1px solid #004D40;
  border-left: none;
  border-bottom: none;
  z-index: 2; /* This set the layer level of the element, it has precendence over initial level of 1*/
}

.menu ul li{
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}

.menu--open {
  display: block;
  position: absolute;
  width: 350px;
  height: 100vh; 
}

/* The side navigation menu */
// .sidenav {
//   height: 100%; /* 100% Full-height */
//   width: 0; /* 0 width - change this with JavaScript */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Stay on top */
//   top: 0; /* Stay at the top */
//   left: 0;
//   background-color: #111; /* Black*/
//   overflow-x: hidden; /* Disable horizontal scroll */
//   padding-top: 60px; /* Place content 60px from the top */
//   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
// }

// .open-sidenav-btn{
//   display: inline;
//   color: green;
//   font-size: 2rem;
//   background-color: transparent;
//   border: none;
//   border-radius: .4rem;
//   width: 35px;
//   height: 35px;
//   position: absolute;
//   top: 15px;
//   left: 10px;
// }


// .side-nav-market{
//   display: none;
//   width: 100%;
  
//   .nav-wrapper{
//     border-right: 1px solid gray;
//     padding-top: 60px;
//     min-height: 100px;
//     height: 100%;
//     width: 25%;
//     background-color: lightgray;
//     color: black;
//     padding: 20px;
//     position: fixed;
//     z-index: 1;
//     top: 69px;
//     left: 0;
//     overflow-x: hidden;
//   }
  
//   ul{
//     margin-top: 20px;
//     overflow: hidden;
//     white-space: nowrap;
//   }
  
//   li{
//     padding: 10px 0;
//     list-style: none;
    
//     a{
//       color: black;
//       text-decoration: none;
//       display: flex;
//       align-items: center;
      
//       svg{
//         color: gray;
//         margin-right: 10px;
//       }
      
//       &:visited{
//         color: inherit;
//       }
      
//       &:hover{
        
//         svg{
//           color: inherit;
//         }
//       }
//     }
//   }    
// }

// .show{
//   display: block;
// }
